@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

$White: hsl(0, 0%, 100%);
$Pale_Blue: hsl(225, 100%, 94%);
$Bright_Blue: hsl(245, 75%, 52%);
$Bright_Blue_Phase: hsla(245, 75%, 52%, 0.8);
$Very_Pale_Blue: hsl(225, 100%, 98%);
$Desaturated_Blue: hsl(224, 23%, 55%);
$Dark_Blue: hsl(223, 47%, 23%);
$bright_blue_box_shadow_i: hsla(245, 75%, 52%, 0.15);
$bright_blue_box_shadow_ii: hsla(245, 75%, 52%, 0.3);

// font-family: 'Red Hat Display', sans-serif;